@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*colores*/
/*todo lo negro*/
/*bgc*/
/*color texto*/
/*color barra buscar y bordes */
/*fondo circulo usuario*/
/*puntos carrusel*/
/*boton*/
/* hover suscríbite*/
/*font-size*/
@font-face {
  font-family: helveticanowtext;
  src: url(../fonts/helvetica-now-font-family-1732613676-0/helveticanowtext-black-demo.ttf);
}
@font-face {
  font-family: helveticanowdisplay-bold;
  src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Bold.ttf);
}
body {
  background-color: #0B0B0B;
  /*HEADER*/
}

.header {
  background-color: #000;
  border-bottom: 1px solid #282828;
  width: 100vw;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
}

/* MENU DESPLEGABLE*/
.header-nav {
  width: 85vw;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.burger-label {
  width: 30px;
}
.burger-label svg {
  width: 30px;
  cursor: pointer;
}

#burger-menu {
  display: none;
}

.ul-links {
  background-color: #000;
  position: absolute;
  width: 85vw;
  top: 80px;
  display: none;
}
.burger-checkbox:checked + .ul-links {
  display: block;
}

.buscar {
  background-color: #282828;
  width: 100vw;
  display: flex;
  position: relative;
  right: 33px;
  gap: 5px;
  height: 40px;
  align-content: center;
}
.buscar .buscar-elementos {
  font-size: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
}
.buscar .buscar-elementos svg {
  width: 15px;
}

.juegos-contenedor {
  width: 85vw;
  height: 60px;
  display: flex;
  align-items: baseline;
}
.juegos-contenedor .titulo {
  display: flex;
  margin-top: 20px;
}
.juegos-contenedor .ver-todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.juegos-contenedor .ver-todo span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.juegos-contenedor .ver-todo svg {
  width: 15px;
}

.li-imagenes {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.li-imagenes .img-borde {
  border: solid 1px #282828;
  border-radius: 5px;
}
.li-imagenes .img-borde img {
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
}

#ul .link-texto {
  width: 85vw;
  height: 45px;
  align-content: center;
}
#ul .link-texto span {
  font-weight: bold;
}
#ul .link-texto svg {
  width: 15px;
}
#ul .tienda, #ul .asistencia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ul .buttom {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ul .buttom .buttom-diseño {
  height: 65%;
  width: 85%;
  background-color: #FCAF17;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ul .buttom .buttom-diseño p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

/*LOGO ROCKSTAR HEADER*/
.logo-header {
  width: 20px;
}
.logo-header img {
  width: 20px;
}

/*LOGO USUARIO HEADER*/
.usuario-contenedor {
  width: 30px;
}
.usuario-contenedor .logo-usuario {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*MAIN*/
#carrussel {
  background-color: #000;
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#carrussel img {
  background-color: #000;
}

#trailer {
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-bottom: 30px;
}
#trailer .section-elementos {
  width: 85vw;
}

.titulos-carrussel {
  margin-top: 15px;
}
.titulos-carrussel p {
  font-size: 0.7rem;
  font-weight: lighter;
  font-family: helveticanowtext;
  margin-top: 35px;
}
.titulos-carrussel h2 {
  font-family: helveticanowdisplay-bold;
  padding-top: 5px;
  margin-bottom: 30px;
}
.titulos-carrussel .boton-vermas {
  width: 85vw;
  height: 50px;
  border: solid 2px white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulos-carrussel .boton-vermas .ver {
  text-transform: uppercase;
  font-size: 1rem;
}

.carrussel-botones {
  margin-top: 30px;
}
.carrussel-botones ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.carrussel-botones ul .largo {
  width: 60px;
  height: 12px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.carrussel-botones .redondo {
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
}

#newswire {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0B0B0B;
  flex-direction: column;
  color: #FFFFFF;
}
#newswire .section-titulo {
  padding: 20px 0;
  width: 85vw;
}

.tarjeta {
  width: 85vw;
  height: auto;
  border: solid 2px #282828;
  border-radius: 10px;
  background-color: #000;
  margin-bottom: 30px;
}
.tarjeta .tarjeta-imagen img {
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tarjeta .tarjeta-texto {
  padding: 20px 20px 25px 20px;
}
.tarjeta .tarjeta-texto .etiqueta {
  font-size: 11px;
  display: inline-block;
  padding-bottom: 10px;
  font-family: helveticanowtext;
}
.tarjeta .tarjeta-texto .etiqueta span {
  text-transform: uppercase;
}
.tarjeta .tarjeta-texto time {
  font-size: 11px;
  color: #999999;
  padding-left: 5px;
  font-family: helveticanowtext;
  font-weight: lighter;
}
.tarjeta .tarjeta-texto p {
  font-family: helveticanowdisplay-bold;
  font-size: 17px;
  line-height: 1.3;
}
.tarjeta .tarjeta-texto p span {
  text-transform: uppercase;
}

.boton-viewmore {
  display: flex;
  margin: 20px auto 30px;
  flex-direction: column;
  align-items: center;
}
.boton-viewmore p {
  font-size: helveticanowtex-black;
  color: #FFFFFF;
}
.boton-viewmore span {
  background-color: #FCAF17;
  border-radius: 10px;
  width: 80px;
  height: 4px;
}

#destacados {
  width: 100vw;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
#destacados .section-titulo {
  padding: 20px 0;
  width: 85vw;
}
#destacados .juegosdestacados-grid {
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(3, fr);
  gap: 15px;
}
#destacados .juegosdestacados-grid img {
  border-radius: 10px;
}
#destacados .juegosdestacados-grid .juego-1 {
  grid-column: span 2;
}
#destacados .juegosdestacados-grid .juego-2 {
  grid-column: span 1;
}
#destacados .juegosdestacados-grid .juego-3 {
  grid-column: span 1;
}
#destacados .juegosdestacados-grid .juego-4 {
  grid-column: span 1;
}
#destacados .juegosdestacados-grid .juego-5 {
  grid-column: span 1;
}

#suscribite {
  width: 100vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding-bottom: 80px;
  padding-top: 60px;
}
#suscribite .suscribite-contenedor .logo-rockstar {
  width: 35px;
  margin-bottom: 10px;
}
#suscribite .suscribite-contenedor .suscribite {
  margin-bottom: 20px;
}
#suscribite .suscribite-contenedor .suscribite h2 {
  margin-bottom: 10px;
  width: 300px;
  font-family: helveticanowdisplay-bold;
  white-space: pre-wrap;
}
#suscribite .suscribite-contenedor .suscribite p {
  font-size: 17px;
  line-height: 1.7;
  width: 260px;
  text-wrap: pretty;
}
#suscribite .suscribite-contenedor .suscribite-boton {
  height: 65px;
  width: 65vw;
  background-color: #000;
  color: #FFFFFF;
  border-radius: 7px;
  border: solid 1px #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
#suscribite .suscribite-contenedor .suscribite-boton p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

footer {
  width: 100vw;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  background-color: #000;
}

#footer-contenedor {
  padding: 60px 0;
  width: 85vw;
  background-color: #000;
}
#footer-contenedor .footer-primeralista {
  margin-bottom: 60px;
  font-size: 15px;
}
#footer-contenedor .footer-primeralista li {
  margin-bottom: 15px;
}
#footer-contenedor .selecciona-idioma {
  font-size: 12px;
  margin-bottom: 60px;
}
#footer-contenedor .selecciona-idioma ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#footer-contenedor .selecciona-idioma ul li svg {
  width: 18px;
}
#footer-contenedor .redes-sociales {
  margin-bottom: 60px;
}
#footer-contenedor .redes-sociales img {
  height: 50px;
  width: auto;
}
#footer-contenedor .avisos-legales {
  font-size: 12px;
  color: #999999;
  margin-bottom: 90px;
}
#footer-contenedor .avisos-legales ul li {
  margin-bottom: 10px;
}
#footer-contenedor .sucursales {
  font-family: helveticanowdisplay-bold;
  font-size: 12px;
  width: 60VW;
  margin: auto;
}
#footer-contenedor .sucursales p {
  text-align: center;
  padding-bottom: 20px;
}
#footer-contenedor .sucursales ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}
#footer-contenedor .sucursales .numeros-romanos {
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
