@import "resets";
@import "variables";




body{
    background-color: $second-color;
    width: 100vw;
    position: relative;

/*HEADER*/
    

}
    .header{
        background-color: $first-color;
        border-bottom: 1px solid $fourth-color;
        width: 100vw;
        height: 80px;
        color: white;
        display: flex;
        justify-content: center;
        }

/*NAVEGADOR ESCRITORIO*/

#nav-escritorio{
    display: none;
}

/*DESPLEGABLE*/
    
    .header-nav{
        width: 85vw;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        }
        .burger-label{
            width: 30px;
            svg{
                width: 30px;
                cursor: pointer;
                 }
        }
        
        #burger-menu{
            display: none;
        }

        .ul-links{
            background-color: #000;
            position: absolute;
            width: 100vw;
            top:80px;
            display: none;

            .link:not(.buttom, .buscar){
                
            }
        }
        .burger-checkbox:checked + .ul-links{
                    
                    display: block;
                }
        
            .buscar{
                background-color: $fourth-color;
                width: 100vw;
                display: flex;
                position: relative;

                gap: 5px;
                height: 40px;
                align-content: center;
                
                .buscar-elementos{
                    font-size: 12px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-left: 30px;
                    

                svg{
                    width: 15px;
                }
        }
    }
        
    .juegos-contenedor{
            width: 85vw;
            height: 60px;
            display: flex;
            align-items: baseline;
            
            .titulo{
                display: flex;
                margin-top: 20px;
                
            }
            .ver-todo{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 5px;
                
                span{
                    text-transform:uppercase;
                    font-size: 10px;
                    font-weight: bold;
                    
                }
                svg{
                    width: 15px;
            }
            
        }
    }
        .li-imagenes{
            width: 100%;
            display: flex;
            gap: 15px;
            margin-bottom: 10px;


            .img-borde{

                border: solid 1px $fourth-color;
                border-radius: 5px;

                img{
                    height: 150px;
                    object-fit: contain;
                    border-radius: 5px;
                }
            }
        }
        #ul{

            .link-texto{
                width: 85vw;
                height: 45px;
                align-content: center;
                
                span{
                    font-weight: bold;
                }
                svg{
                    width: 15px;
                }
        }
        .tienda{
                
                display: flex;
                justify-content: space-between;
                align-items: center;
        }
        .asistencia{
            @extend .tienda
        }
        .buttom{
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .buttom-diseño{
                height: 65%;
                width: 85%;
                background-color: $buttom-color;
                color: #000;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            p{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
            }
            }
        }}
/*LOGO DEL HEADER*/
    .logo-header{
                width: 20px;
                
                img{
                    width: 20px;
                    
                    
                }
                
            }
/*USUARIO HEADER*/
        .usuario-contenedor{
            width: 30px;

            .logo-usuario{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $fourth-color;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .user{
                    
                }
        }
            
        }
/*MAIN*/

//SECTION CARRUSSEL
 #carrussel {
    background-color: $first-color;
    color: $third-color;
    width: 100vw;
    display: flex;
    justify-content: center;

    img{
        background-color: $first-color;
    }
 }
//SECTION TRAILER
 #trailer{
    color: $third-color;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $first-color;
    padding-bottom: 30px;

    .section-elementos {
        width: 85vw;
    }
 } 

.titulos-carrussel{
    margin-top: 15px;
    p{
        font-size: 0.7rem;
        font-weight:lighter;
        font-family: helveticanowtext;
        margin-top: 35px;
    }
    h2{
        font-family: helveticanowdisplay-bold;
        padding-top: 5px;
        margin-bottom: 30px;
        
    }
    .boton-vermas{
        width: 85vw;
        height: 50px;
        border: solid 1px white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;


        .ver{
            text-transform:uppercase;
            font-size: 1rem;
        }
    }
}

.carrussel-botones{
    margin-top: 30px;
    ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
        .largo{
            width: 60px;
            height: 12px;
            border-radius: 10px;
            background-color: $third-color;
        }
    }   .redondo{
        width: 12px;
        height: 12px;
        background-color: $six-color;
        border-radius: 50%;
    }
}
//SECTION NESWIRE
#newswire{
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: $second-color;
    flex-direction: column;
    color: $third-color;

    .section-titulo{
        padding: 20px 0;
        width: 85vw;
    }
}

@mixin tarjeta (){
    width: 85vw;
    height: auto;
    border: solid 2px $fourth-color;
    border-radius: 10px;
    background-color: $first-color;
    margin-bottom: 30px
    
}
.tarjeta {

    @include tarjeta();
    
    .tarjeta-imagen{
        
        img{
            object-fit:contain;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
    }
    .tarjeta-texto{
        padding: 20px 20px 25px 20px;

        .etiqueta{
            font-size: 11px;
            display: inline-block;
            padding-bottom: 10px;
            font-family: helveticanowtext;
            span{
                text-transform: uppercase;
            }
            }
            time{
                font-size: 11px;
                color: $six-color;
                padding-left: 5px;
                font-family: helveticanowtext;
                font-weight: lighter;
            }
            p{
                font-family: helveticanowdisplay-bold;
                font-size: 17px;
                line-height: 1.3;
            span{
                text-transform: uppercase;
            }
            }
    }

}
//BOTÓN VIEW MORE
.boton-viewmore{
        
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
        width: 82vw;
    p{
        font-size: $first-font;
        color: $third-color;
        
    }
    span{
        background-color: $buttom-color;
        border-radius: 10px;
        width: 80px;
        height: 4px;

    }
}
//SECTION DESTACADOS
#destacados{
    width: 100vw;
    color: $third-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    .section-titulo{
        padding: 20px 0;
        width: 82vw;
        h2{

        }
    }
    .juegosdestacados-grid{
        width: 85vw;
        display: grid;
        grid-template-columns: repeat(2,fr);
        grid-template-rows: repeat(3,fr);
        gap: 15px;

        img{
            border-radius: 10px;
        }

        .caja-grid{

        }
        .juego-1{
            grid-column: span 2;
            .tablet{
                display: none;
            }
        }
        .juego-2{ grid-column: span 1;

        }
        .juego-3{
            grid-column: span 1;
        }
        .juego-4{
            grid-column: span 1;
        }
        .juego-5{
            grid-column: span 1;
        }
    }
}
//SECTION SUSCRÍBITE
#suscribite{
    width: 100vw;
    color: $third-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $first-color;
    padding-bottom: 80px;
    padding-top: 60px;

    .suscribite-contenedor{

        .logo-rockstar{
            width: 35px;
            margin-bottom: 10px;
        }
        .suscribite{
            margin-bottom: 20px;
            h2{
                margin-bottom: 10px;
                width: 300px;
                font-family: $second-font;
                white-space: pre-wrap;
            }
            p{
                font-size: 17px;
                line-height: 1.7;
                width: 260px;
                text-wrap: pretty;
            }
        }
        .suscribite-boton{
            height: 65px;
            width: 65vw;
            background-color: $first-color;
            color: $third-color;
            border-radius: 7px;
            border: solid 1px $third-color;
            display: flex;
            align-items: center;
            justify-content: center;
            
            p{
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    }
//FOOTER

footer {
    width: 100vw;
    color: $third-color;
    display: flex;
    justify-content: center;
    background-color: $first-color;
}
#footer-contenedor{
    padding: 60px 0;
    width: 85vw;
    background-color: $first-color;

//CONTACTO
    .footer-primeralista{
        margin-bottom: 60px;
        font-size: 15px;
            li{
                margin-bottom: 15px;
            }
        }
//IDIOMAS
    .selecciona-idioma{
        font-size: 12px;
        margin-bottom: 60px;
        ul{
            display: flex;
            flex-direction: row;
            gap: 5px;
            li{
                svg {
                    width: 18px;
            }
        }
    }
    }
//REDES SOCIALES
    .redes-sociales{
        margin-bottom: 60px;
        img{
            height: 50px;
            width: auto;
            
        }
    }
//AVISOS LEGALES
    .avisos-legales{
        font-size: 12px;
        color: $six-color;
        margin-bottom: 90px;
        ul{
            li{
                margin-bottom: 10px;
            }
        }
    }
//SUCURSALES
    .sucursales{
        font-family: $second-font;
        font-size: 12px;
        width: 60VW;
        margin: auto;

        p{
        text-align: center;
        padding-bottom: 20px;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 20px;
        }
        .numeros-romanos{
            text-transform: uppercase;
        }
    }
}

//RESPONSIVE

@media (min-width: 769px) and (max-width: 1024px){

    .header-nav{
        display: none;
    }
    #nav-escritorio{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
        ul{
            width: 85vw;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            font-size: 13px;

            .logo{
                padding-top: 5px;
                img{
                    width: 25px;
                }
            }
        .li-juegos{
            display: flex;
            flex-direction: row;
            padding-top: 8px;

            span{
                svg{
                    width: 20px;
                }
            }
        }
        #tienda{
            display: none;
        }
        #asistencia-tecnica{
            display: none;
        }
        .li-mas{
            display: flex;
            flex-direction: row;
            padding-top: 8px;
            svg{
                width: 20px;
            }
        }
        .li-buttom{
            div{
                background-color: $buttom-color;
                padding: 7px;
                border-radius: 5px;
                span{
                    color: $first-color;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
        .lupa{
            svg{
                width: 25px;
            }
        }

        .user{
            width: 30px;
            height: 30px;
            background-color: $fifth-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.562);
            }
        }
        }}


#carrussel {
    background-color: $first-color;
    color: $third-color;
    width: 100vw;


    img{
        width: 100%;
        object-fit: cover;
    }
}

//SECTION TRAILER
#trailer{
    .section-elementos {
        width: 90vw;
    }
 } 
.titulos-carrussel{
    margin-top: 15px;
    p{
        margin-top: 35px;
    }
    h2{
        margin: 0;
        
    }
    .boton-vermas{
        width: 23vw;
        height: 50px;
        position: relative;
        left: 560px;
        bottom: 55px;
    }
}
.carrussel-botones{
    margin: 0;

}

//SECTION NESWIRE
#newswire{
    width: 85vw;
    margin-left: 8vw;
    margin-top: 5vw;
    margin-left: 9vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    background-color: $second-color;
    color: $third-color;

    .section-titulo{
        padding: 20px 0;
        grid-column: span 3;
    }
}

@mixin tarjeta (){
    width: 25vw;
    height: 55vw;
    grid-column: span 1;
}
.tarjeta {

    @include tarjeta();
    
    .tarjeta-imagen{
        
    }
    .tarjeta-texto{
        padding: 20px 20px 25px 20px;

        .etiqueta{
            font-size: 11px;
            display: block;
            padding-bottom: 10px;
            font-family: helveticanowtext;
            display: block;
            position: relative;
            top: 25px;

            span{
                text-transform: uppercase;
            }
            }
            time{
                font-size: 11px;
                display: block;
                font-weight: lighter;
                position: relative;
                bottom: 25px;
                padding: 0;
            }
            p{
                padding-top: 5px;
                width: 18vw;
            }
    }
}
//BOTÓN VIEW MORE
.boton-viewmore{
        
    display: flex;
    margin: 20px auto 60px;
    flex-direction: column;
    align-items: center;
}
//SECTION DESTACADOS
#destacados{
    margin-top: 100px;

    .section-titulo{
        padding: 20px 0;
        width: 82vw;
        h2{

        }
    }
    .juegosdestacados-grid{
        width: 82vw;
        display: grid;
        grid-template-columns: repeat(4,fr);
        grid-template-rows: repeat(2,fr);
        gap: 15px;

        .juego-1{
            grid-column: span 4;
            .mobil{
                display: none;
            }
            .tablet{
                display: block;
            }
        }
    }
}

//SECTION SUSCRÍBITE
#suscribite{
    width: 100vw;
    display: block;
    padding-bottom: 80px;
    padding-top: 60px;

    .suscribite-contenedor{
        width: 65vw;
        padding-top: 50px;
        margin-left: 19vw;

        .logo-rockstar{
            width: 35px;
            margin-bottom: 10px;
            justify-self: center;
        }
        .suscribite{
            margin-bottom: 20px;
            h2{
                margin-bottom: 10px;
                width: auto;
                font-family: $second-font;
                white-space: nowrap;
                font-size:larger;
                justify-self: center;
            }
            p{
                font-size: 15px;
                line-height: 1.7;
                width: auto;
                text-wrap: pretty;
                text-align: center;
            }
        }
        .suscribite-boton{
            height: 65px;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            
        }
    }
    }
//FOOTER

#footer-contenedor{
    padding: 60px 0;
    width: 82vw;

//CONTACTO
    .footer-primeralista{
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        gap: 14px;
            li{
                
                margin-bottom: 15px;
            }
        }
//IDIOMAS
    .selecciona-idioma{
        position: relative;
        left: 500px;
        bottom: 94px;
        width: 200px;
        ul{
            display: flex;
            flex-direction: row;
            gap: 5px;
    }
    }
//REDES SOCIALES
    .redes-sociales{
        margin-bottom: 60px;
        position: relative;
        top: 150px;
        right: 10px;
        img{
            height: 50px;
            width: auto;
            
        }
    }
//AVISOS LEGALES
    .avisos-legales{
        position: relative;
        bottom: 200px;
        margin-bottom: 30px;
        ul{
            li{
                margin-bottom: 10px;
            }
        }
    }
}
//SUCURSALES
.sucursales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 82vw;
    margin: 0;


    p{
    text-align:left;
    padding-bottom: 20px;
    display: inline;
    position: relative;
    right: 105px;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        width: 250px;
    }
    .numeros-romanos{
        display: inline;
        text-transform: uppercase;
        left: 100px;
    }
}
}

@media (min-width: 1024px){
    
    .header-nav{
        display: none;
    }
    #nav-escritorio{
    width: 95vw;
    height: 100%;
    display: flex;
    justify-content: center;

        ul{
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;

            .logo{
                padding-top: 5px;
                img{
                    width: 30px;
                }
            }
        .li-juegos{
            display: flex;
            flex-direction: row;
            padding-top: 5px;
            &:hover {
                border-bottom: solid 1px white;
                cursor: pointer;
            }

            span{
                svg{
                    width: 20px;
                }
            }
        }
        .lista-simple{
            &:hover {
                border-bottom: solid 1px white;
                cursor: pointer;
            }
        }
        #tienda{
            display: flex;
            gap:4px;
            &:hover {
                border-bottom: solid 1px white;
                cursor: pointer;
            }
            .logo-ir{
                width: 15px;
                svg{
                    position: relative;
                    top: 2px;
                }
            }
        }
        #asistencia-tecnica{
            display: flex;
            gap: 4px;
            &:hover {
                border-bottom: solid 1px white;
                cursor: pointer;
            }
            .logo-ir{
                width: 15px;
                svg{
                    position: relative;
                    top: 2px;
                }
            }
        }
        .li-mas{
            display: none;
        }
        .li-buttom{
            div{
                background-color: $buttom-color;
                padding: 8px;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                }
                span{
                    color: $first-color;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0;
                }
            }
        }
        .lupa{
            &:hover{
                cursor: pointer;
            }
            svg{
                width: 25px;
            }
        }
        .user{
            width: 25px;
            height: 25px;
            background-color: $fifth-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
            i{
                font-size: 11px;
                color: rgba(255, 255, 255, 0.562);
            }
        }
        }}
//SECTION CARRUSSEL
#carrussel {
    background-color: $first-color;
    color: $third-color;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    margin: 0;

    img{
        background-color: $first-color;
        object-fit: cover;
    }
 }
//SECTION TRAILER
#trailer{
    color: $third-color;
    width: 15vw;
    height: auto;
    display: block;
    background-color: $first-color;
    padding-bottom: 0;
    margin: 0;
    position: absolute;
    left: 920px;
    bottom: 200px;
 } 

.titulos-carrussel{
    margin-top: 0;
    p{
        font-size: 15px;
        font-weight:lighter;
        font-family: helveticanowtext;
        margin-top: 0;
        width: 15vw;
        &:hover{
            cursor: pointer;
        }
    }
    h2{
        font-family: helveticanowdisplay-bold;
        padding-top: 5px;
        margin-bottom: 30px;
        font-size: 40px;
        width: 15vw;
        &:hover{
            cursor: pointer;
        }
        
    }
    .boton-vermas{
        width: 18vw;
        height: 55px;
        border: solid 1px white;
        border-radius: 5px;
        transition-duration: 100;
        &:hover{
            border: none;
            border-radius: none;
            color: $first-color;
            background-color: $buttom-color;
            cursor: pointer;
        }
        .ver{
            font-size: 20px;
            font-weight: bold;
        }
    }
}
.carrussel-botones{
    position: relative;
    top: 205px;
    ul{
        gap: 20px;
        .largo{
            width: 63px;
            height: 12px;
            &:hover{
                cursor: pointer;
            }
        }
    }   .redondo{
        width: 15px;
        height: 15px;
        background-color: $six-color;
        &:hover{
            cursor: pointer;
        }
    }
}
//SECTION NESWIRE
#newswire{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;

    .section-titulo{
        padding: 20px 0;
        grid-column: span 3;
        h3{
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@mixin tarjeta (){
    width: 350px;
    height: 40vw;
    grid-column: span 1;
    &:hover{
        cursor: pointer;
    }
}
.tarjeta {

    @include tarjeta();
    
    .tarjeta-imagen{
    }
    .tarjeta-texto{
        padding: 15px 10px 25px 20px;
            time{
                padding-left: 10px;
            }
            p{
                width: auto;
                font-size: 15px;
            }
    }
}
//BOTÓN VIEW MORE
.boton-viewmore{
        
    display: flex;
    margin: 20px auto 60px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 120px;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        background-color: $buttom-color;
    }
    p{
        font-size: $first-font;
        color: $third-color;
        &:hover{
            color: $first-color;
        }
        
    }
    span{
        background-color: $buttom-color;
        border-radius: 10px;
        width: 90px;
        height: 4px;
        &:hover{
            font-weight: bold;
        }
    }
}
//SECTION DESTACADOS
#destacados{
    margin-top: 100px;

    .section-titulo{
        width: 90vw;
        h2{
            font-size: 30px;
        }
        &:hover{
        cursor: pointer;
        }
    }
    .juegosdestacados-grid{
        width: 90vw;

        .caja-grid{
            &:hover{
                transform: scale(1.03);
            }
        }

        .juego-1{
            grid-column: span 4;
            .mobil{
                display: none;
            }
            .tablet{
                display: block;
            }
        }
    }
}
//SECTION SUSCRÍBITE
#suscribite{
    width: 100vw;
    display: block;
    padding-bottom: 80px;
    padding-top: 60px;

    .suscribite-contenedor{
        width: 65vw;
        padding-top: 50px;
        margin-left: 19vw;

        .logo-rockstar{
            width: 35px;
            margin-bottom: 10px;
            justify-self: center;
        }
        .suscribite{
            margin-bottom: 20px;
            h2{
                margin-bottom: 10px;
                width: auto;
                font-family: $second-font;
                white-space: nowrap;
                font-size:larger;
                justify-self: center;
            }
            p{
                font-size: 15px;
                line-height: 1.7;
                width: auto;
                text-wrap: pretty;
                text-align: center;
            }
        }
        .suscribite-boton{
            height: 65px;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            &:hover{
                cursor: pointer;
                background-color: $fifth-color;
            }
            
        }
    }
    }
//FOOTER

#footer-contenedor{
    padding: 60px 0;
    width: 90vw;
    position: relative;

//CONTACTO
    .footer-primeralista{
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        gap: 14px;
            li{
                
                margin-bottom: 15px;
                &:hover{
                    color: $buttom-color;
                    cursor: pointer;
                }
            }
        }
//IDIOMAS
    .selecciona-idioma{
        position: relative;
        left: 1250px;
        bottom: 93px;
        width: 200px;
        ul{
            display: flex;
            flex-direction: row;
            gap: 5px;
    }
    }
//REDES SOCIALES
    .redes-sociales{
        margin-bottom: 60px;
        position: absolute;
        top: 150px;
        right: 0px;
        img{
            height: 50px;
            width: auto;
            
        }
    }
//AVISOS LEGALES
    .avisos-legales{
        position: absolute;
        top: 150px;
        margin-bottom: 30px;
        ul{
            li{
                margin-bottom: 10px;
                &:hover{
                    color: $buttom-color;
                    cursor: pointer;
                }
            }
        }
    }
}
//SUCURSALES
.sucursales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding-top: 160px;


    p{
    text-align:left;
    padding-bottom: 20px;
    display: inline;
    position: relative;
    right: 320px;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        width: 250px;
    }
    .numeros-romanos{
        display: inline;
        text-transform: uppercase;
        left: 300px;
    }
}
}