@import "resets";
@import "variables";




body{
    background-color: $second-color;

/*HEADER*/
    

}
    .header{
        background-color: $first-color;
        border-bottom: 1px solid $fourth-color;
        width: 100vw;
        height: 80px;
        color: white;
        display: flex;
        justify-content: center;
        }
/*DESPLEGABLE*/
    
    .header-nav{
        width: 85vw;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        }
        .burger-label{
            width: 30px;
            svg{
                width: 30px;
                cursor: pointer;
                
                 }
        }
        
        #burger-menu{
            display: none;
        }

        .ul-links{
            background-color: #000;
            position: absolute;
            width: 85vw;
            top:80px;
            display: none;

            .link:not(.buttom, .buscar){
                
            }
        }
        .burger-checkbox:checked + .ul-links{
                    
                    display: block;
                }

        
            .buscar{
                background-color: $fourth-color;
                width: 100vw;
                display: flex;
                position: relative;
                right: 33px;
                gap: 5px;
                height: 40px;
                align-content: center;
                
                .buscar-elementos{
                    font-size: 12px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-left: 30px;
                    

                svg{
                    width: 15px;
                }
        }
    }
        
    .juegos-contenedor{
            width: 85vw;
            height: 60px;
            display: flex;
            align-items: baseline;
            
            .titulo{
                display: flex;
                margin-top: 20px;
                
            }
            .ver-todo{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 5px;
                
                span{
                    text-transform:uppercase;
                    font-size: 10px;
                    font-weight: bold;
                    
                }
                svg{
                    width: 15px;
            }
            
        }
    }
        .li-imagenes{
            width: 100%;
            display: flex;
            gap: 15px;
            margin-bottom: 10px;


            .img-borde{

                border: solid 1px $fourth-color;
                border-radius: 5px;

                img{
                    height: 150px;
                    object-fit: contain;
                    border-radius: 5px;
                }
            }
        }
        #ul{

            .link-texto{
                width: 85vw;
                height: 45px;
                align-content: center;
                
                span{
                    font-weight: bold;
                }
                svg{
                    width: 15px;
                }
        }
        .tienda{
                
                display: flex;
                justify-content: space-between;
                align-items: center;
        }
        .asistencia{
            @extend .tienda
        }
        .buttom{
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .buttom-diseño{
                height: 65%;
                width: 85%;
                background-color: $buttom-color;
                color: #000;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            p{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
            }
            }
        }}
/*LOGO DEL HEADER*/
    .logo-header{
                width: 20px;
                
                img{
                    width: 20px;
                    
                    
                }
                
            }
/*USUARIO HEADER*/
        .usuario-contenedor{
            width: 30px;

            .logo-usuario{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $fourth-color;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .user{
                    
                }
        }
            
        }
/*MAIN*/


 #carrussel {
    background-color: $first-color;
    color: $third-color;
    width: 100vw;
    display: flex;
    justify-content: center;

    img{
        background-color: $first-color;
    }
 }

 #trailer{
    color: $third-color;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $first-color;
    padding-bottom: 30px;

    .section-elementos {
        width: 85vw;
    }
 } 

.titulos-carrussel{
    margin-top: 15px;
    p{
        font-size: 0.7rem;
        font-weight:lighter;
        font-family: helveticanowtext;
        margin-top: 35px;
    }
    h2{
        font-family: helveticanowdisplay-bold;
        padding-top: 5px;
        margin-bottom: 30px;
        
    }
    .boton-vermas{
        width: 85vw;
        height: 50px;
        border: solid 2px white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;


        .ver{
            text-transform:uppercase;
            font-size: 1rem;
        }
    }
}

.carrussel-botones{
    margin-top: 30px;
    ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
        .largo{
            width: 40px;
            height: 8px;
            border-radius: 4px;
            background-color: $third-color;
        }
    }   .redondo{
        width: 8px;
        height: 8px;
        background-color: $six-color;
        border-radius: 50%;
    }
}

#newswire{
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: $second-color;
    flex-direction: column;
    color: $third-color;

    .section-titulo{
        padding: 20px 0;
        width: 85vw;
    }
}

@mixin tarjeta (){
    width: 85vw;
    height: auto;
    border: solid 2px $fourth-color;
    border-radius: 10px;
    background-color: $first-color;
    margin-bottom: 30px
    
}
.tarjeta {

    @include tarjeta();
    
    .tarjeta-imagen{
        
        img{
            object-fit:contain;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
    }
    .tarjeta-texto{
        padding: 20px 20px 25px 20px;

        .etiqueta{
            font-size: 11px;
            display: inline-block;
            padding-bottom: 10px;
            font-family: helveticanowtext;
            span{
                text-transform: uppercase;
            }
            }
            time{
                font-size: 11px;
                color: $six-color;
                padding-left: 5px;
                font-family: helveticanowtext;
                font-weight: lighter;
            }
            p{
                font-family: helveticanowdisplay-bold;
                font-size: 17px;
                line-height: 1.3;
            span{
                text-transform: uppercase;
            }
            }
    }

}